@charset "UTF-8";
@font-face {
  font-family: "MadelynFill-Regular";
  src: url("../src/assets/fonts/MadelynFill-Regular/MadelynFill-Regular.woff") format("woff");
}
:root {
  --primary: #bfa682;
  --secondary: #f0f0f0;
  --success: #28a745;
  --info: #000;
  --warning: #ffc107;
  --danger: #dc3545;
  --color-gray: #8d8072;
  --color-light-gray: #d2c6bc;
  --color-red: #480d10;
  --text: #5a5853;
  --textlight: #5a58538a;
  --border-color: #bfbfbf;
}

/* 整個捲軸 */
::-webkit-scrollbar {
  width: 8px;
}

/* 捲軸的軌道 */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* 滑動的區塊 */
::-webkit-scrollbar-thumb {
  background: var(--color-light-gray);
  border-radius: 50vh;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", "Noto Sans TC", sans-serif;
  background: var(--secondary);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: var(--text);
  padding: 0.5rem 1rem;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
  margin-right: 10px;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes slide-out-fwd-center {
  0% {
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    transform: translateZ(600px);
    opacity: 0;
  }
}
@keyframes preloader-remove {
  to {
    transform: translateY(-100%);
  }
}
section,
footer {
  width: 100vw;
  padding: 80px 120px;
  box-sizing: border-box;
  text-align: center;
}
section h1,
footer h1 {
  font-family: "Cinzel", serif;
  border: none;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: -0.25em;
  font-style: normal;
  font-size: 2.6em;
  letter-spacing: 0.125em;
  line-height: 1.3em;
  text-decoration: none;
  text-transform: none;
  color: #333;
}

@media (max-width: 768px) {
  section,
  footer {
    width: 100vw;
    padding: 60px 20px;
    box-sizing: border-box;
    text-align: center;
  }
}
header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 999;
}
header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0px;
  width: 100vw;
  height: 10vh;
  margin: auto;
  background: var(--color-light-gray);
  box-sizing: border-box;
}
header .navbar .nav-logo {
  text-align: right;
  width: 20%;
}
header .navbar .nav-logo svg {
  width: 65%;
}
header .navbar .social-media ul li {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
  margin-right: -30px;
}
header .navbar .social-media ul li a:hover svg g {
  fill: var(--color-gray);
}
header .menu {
  width: 60%;
  text-align: left;
}
header .menu a:hover {
  color: var(--secondary);
  background-color: var(--color-gray);
  border-radius: 2rem;
}

/* -------------hamburger ---------------- */
.hamburger-menu {
  position: fixed;
  padding: 30px 20px;
  align-items: center;
  display: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: 0px;
  width: 100vw;
  height: 10vh;
  margin: auto;
  background: var(--color-light-gray);
  box-sizing: border-box;
}
.hamburger-menu .nav-logo {
  text-align: left;
  width: 100%;
}
.hamburger-menu .nav-logo svg {
  width: 40%;
}

@media (max-width: 768px) {
  .navbar {
    display: none !important;
  }
  .hamburger-menu {
    display: flex;
  }
  .hamburger-menu .nav-logo {
    text-align: left;
    width: 100%;
  }
  .hamburger-menu .nav-logo svg {
    width: 25%;
  }
}
@media (max-width: 576px) {
  .navbar {
    display: none !important;
  }
  .hamburger-menu {
    display: flex;
  }
  .hamburger-menu .nav-logo {
    text-align: left;
    width: 100%;
  }
  .hamburger-menu .nav-logo svg {
    width: 40%;
  }
}
.hamburger-menu input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.hamburger-menu label {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 20px 20px;
  background-color: var(--color-red);
  background-color: transparent;
}

.hamburger-menu label span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--color-red);
  border-radius: 3px;
  z-index: 1000;
}

.hamburger-menu label span:before,
.hamburger-menu label span:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: var(--color-red);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.hamburger-menu label span:before {
  transform: translateY(-10px);
}

.hamburger-menu label span:after {
  transform: translateY(10px);
}

.hamburger-menu input[type=checkbox]:checked + label span {
  background-color: transparent;
}

.hamburger-menu input[type=checkbox]:checked + label span:before {
  transform: rotate(45deg) translate(-5px, -5px);
}

.hamburger-menu input[type=checkbox]:checked + label span:after {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hamburger-menu ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0; /* 调整为0，根据您的需要设置内边距 */
  margin: 0;
  list-style: none;
  background: var(--color-light-gray);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.hamburger-menu ul li {
  margin: 10px 0; /* 调整间距，根据需要设置 */
  padding: 5px;
  text-align: center;
  display: block;
}

.hamburger-menu ul li a {
  display: block;
  transition: opacity 0.5s ease-in-out;
}

.hamburger-menu ul li a:hover {
  color: var(--secondary);
  background-color: var(--color-gray);
  border-radius: 2rem;
  opacity: 1;
}

.hamburger-menu input[type=checkbox]:checked ~ ul {
  opacity: 1;
  visibility: visible;
}

.active {
  color: var(--secondary);
  background-color: var(--color-gray);
  border-radius: 2rem;
}

.swiper {
  width: 100%;
  height: 70%;
  padding-top: 10vh;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: var(--color-gray);
}
.swiper .swiper-pagination-bullet-active {
  background: var(--color-gray);
}

.ag-format-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.ag-container-shops {
  padding: 100px 0;
  overflow: hidden;
}

.ag-card-bg {
  height: 100%;
  width: 170%;
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: -50%;
  transition: height 0.6s;
}

.ag-shop-card_box-wrap {
  padding: 15px;
}

.ag-shop-card_box {
  background-color: #fff;
  overflow: hidden;
  -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 35, 0.25);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 35, 0.25);
  transition: 0.4s;
}

.ag-shop-card_body {
  display: block;
  width: 285px;
  height: 285px;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  transition: 0.4s;
  position: relative;
}

.ag-shop-card-body_link {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-radius: 50%;
  -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
  transform: translateY(-50%);
  transition: top 0.4s;
  padding: 0;
}

.ag-shop-card-body_img {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }
}
@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }
}
.button_container {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}
.button_container .button {
  width: 100%;
}
.button_container .button .button_text {
  border: 2px solid var(--primary);
  padding: 2rem;
  border-radius: 3px;
  font-size: 0.85em;
  font-weight: 500;
  color: var(--primary);
  font-style: normal;
  text-transform: none;
  letter-spacing: 0.13em;
  background-color: transparent;
  transition: 0.1s background-color linear, 0.1s color linear;
}
.button_container .button .button_text:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.small_button_container {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}
.small_button_container .button {
  width: 100%;
}
.small_button_container .button .button_text {
  border: 2px solid var(--primary);
  padding: 0.85rem;
  border-radius: 3px;
  font-size: 0.85em;
  font-weight: 500;
  color: var(--primary);
  font-style: normal;
  text-transform: none;
  letter-spacing: 0.13em;
  background-color: transparent;
  transition: 0.1s background-color linear, 0.1s color linear;
}
.small_button_container .button .button_text:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.menu_container {
  width: 100%;
  display: flex;
  justify-content: space-between; /* 将菜单分散在容器两侧 */
  align-items: flex-start;
  text-align: left;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
}
.menu_container .menu_left,
.menu_container .menu_right {
  padding: 40px;
  width: 50%;
}
.menu_container .menu_item {
  display: flex;
  justify-content: space-between; /* 将菜单分散在容器两侧 */
  align-items: flex-start;
  text-align: left;
}
.menu_container .price_add {
  font-size: 0.8em;
}
.menu_container .menu_item_price {
  text-align: right;
}
.menu_container .menu_image {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.menu_container .menu_image img {
  width: 33%;
}
.menu_container .menu_gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 将菜单分散在容器两侧 */
  align-items: flex-start;
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
}
.menu_container .menu_gallery .menu_gallery_item {
  width: 50%;
}
.menu_container .menu_gallery .menu_gallery_item img {
  width: 95%;
  height: 95%;
}

@media (max-width: 576px) {
  .menu_gallery .menu_gallery_item {
    width: 100%;
  }
  .menu_gallery .menu_gallery_item img {
    width: 95%;
    height: 95%;
  }
}
.pt-20 {
  padding-top: 20px;
}

.pt-60 {
  padding-top: 60px;
}

.p-t50 {
  padding-top: 50px;
}

.p-t100 {
  padding-top: 100px;
}

.pt-10 {
  padding-top: 10px;
}

.nbsp {
  width: 100%;
  height: 100px;
}

.line {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #000;
}

@media (max-width: 768px) {
  .menu_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .menu_container .menu_left,
  .menu_container .menu_right {
    padding: 40px;
    width: 100%;
  }
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 将菜单分散在容器两侧 */
  align-items: flex-start;
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
  padding-bottom: 100px;
  padding-top: 100px;
}
.gallery .gallery_item {
  width: 25%;
  padding-top: 15px;
}
.gallery .gallery_item img {
  width: 93%;
  height: 93%;
}

@media (max-width: 768px) {
  .gallery {
    justify-content: space-between;
    margin: auto;
  }
  .gallery .gallery_item {
    width: 50%;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-light-gray);
}
footer .footer_logo {
  width: 100%;
  text-align: center;
}
footer .footer_logo svg {
  width: 20%;
}
footer .footer_menu {
  width: 100%;
  text-align: center;
}
footer .footer_menu a:hover {
  color: var(--color-red);
}
footer .footer_social {
  width: 100%;
}
footer .footer_social ul li {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
}
footer .footer_social ul li a:hover svg g {
  fill: var(--color-gray);
}
footer .footer_copyright {
  width: 100%;
}
footer .footer_copyright p {
  color: var(--textlight);
}

@media (max-width: 768px) {
  footer .footer_logo svg {
    width: 30%;
  }
}
@media (max-width: 576px) {
  footer .footer_logo svg {
    width: 40%;
  }
  footer .footer_copyright {
    width: 100%;
  }
  footer .footer_copyright p {
    font-size: 1rem;
    color: var(--textlight);
  }
  footer .footer_social ul li {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1rem;
  }
}/*# sourceMappingURL=style.css.map */